.sendemail-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.subtitle {
    font-size: 4.5vh;
    font-weight: 700;
    margin-top: 4vh;
    color: #2C5717;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.email-input-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.email-input {
    width: 20vw;
    padding: 1.5vh 1.5vw;
    text-align: center;
    font-size: 2.5vh;
    font-weight: 600;
    border-radius: 1.5vh;
    border: 2px solid #2C5717;
    box-shadow: 0 0 10px rgba(44, 87, 23, 0.25);
}

.verify-button {
    width: 12.5vw;
    font-size: 2.75vh;
    padding: 0.75vh 2.25vw;
    background-color: rgba(44, 87, 23, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

.verify-button:hover {
    border: 1px solid #ffffff;
    transform: scale(1.05);
}

.verify-button:active {
    transform: scale(1);
    transition: transform 0.1s ease;
}

.error-message {
    color: #ba0101;
    font-size: 1.75vh;
    font-weight: 400;
    margin-top: -3vh;
}

.sent-complete-window {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e1e1e;
    padding: 3vh 6vw;
    border-radius: 2vh;
    border: 2px solid #2C5717;
    box-shadow: 0 0 10px rgba(44, 87, 23, 0.25);
}

.sent-complete-text.top {
    font-size: 2.8vh;
    font-weight: 500;
}

.sent-complete-text.bottom {
    margin-top: 0;
    font-weight: 300;
}
